body {
    border-style: solid;
    border-color: red;
}
header {
    border-style: solid;
    border-color: green;
    padding:25px;
    margin:25px 25px 0px 25px;
}
ul {
    border-style:solid;
    border-color:orange;
    display:inline-flex;
    float:right;
}
div {
    border-style:solid;
    border-color:yellow;
    padding:25px;
    margin:0px 25px 25px 25px;
}
main {
    border-style:solid;
    border-color:blue;
    margin:25px;
    padding:25px;
}
section {
    border-style:solid;
    border-color:purple;
    margin:10px 25px;
    padding:10px;
}
